@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #09090b;
}

/* Tüm sayfayı kapsayan container */
.page-container {
  height: 100vh;
  overflow-y: auto;
}

/* Snap Aktif Olduğunda */
.snap-active {
  scroll-snap-type: y mandatory;
}

/* Snap Bölümleri (home ve about) */
.snap {
  scroll-snap-align: start;
  min-height: 100vh;
}

/* Snap olmayan bölümler (projects, contact, footer) */
.non-snap {
  scroll-snap-align: none;
}

/* Scroll bar tasarımı */
/* Chrome, Safari ve Opera için */
::-webkit-scrollbar {
  width: 4px; /* Scroll bar'ın genişliği */
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Scroll bar'ın rengi */
  border-radius: 4px; /* Scroll bar'ın köşe yuvarlaklığı */
}

/* Firefox için */
html {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 transparent;
}
